// Custom Styling Sheet


// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,800');


// Variables
$theme-color: #564474;
$alt-theme-color: #d7d8d8;
$font-color: #637c84;
$theme-font: 'Raleway', sans-serif;

#home-wrap {
  height: 100vh;
  max-height: 900px;
  color: $white;
  font-family: $theme-font;
  font-weight: 600;
  background-image: url('../img/highSierra.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
    //background-color: $theme-color;
}

.home-title {
  font-size: 2.2rem;
  line-height: 3.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

// Each section follows these styling rules (excluding first)
.section-wrap {
  height: 400px;
  padding-top: 30px;
  border-bottom: 1px #000000 solid;
  h2 {
    text-align: center;
    font-weight: 600;
    font-size: 1.6em;
    color: $font-color;
  }
}


// Navigation Styling
.menu {
  text-align: center;
  z-index: 1;

}

.title-bar {
  background-color: #034d65;
  .title-bar-title {
    font-size: 20px;
    font-family: $theme-font;
    margin-left: 3px;
    font-weight: 600;
  }
}

#responsive-menu {
  background-color: transparent;
}




// Section 2 Styling
#section-2-wrap {
  background-color: $alt-theme-color;
}



// Section 3 Styling
#section-3-wrap {
  background-color: $alt-theme-color;
}


// Section 4 Styling
#section-4-wrap {
  background-color: $alt-theme-color;
}



// Section 5 Styling
#section-5-wrap {
  background-color: $alt-theme-color;
}
