// Custom Styling Sheet


// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,800');


// Variables
$theme-color: #034d65;
$alt-theme-color: #006081;
$theme-font: 'Raleway', sans-serif;
$active-color: #3f86a4;

// Mixins
@mixin transEffect {
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition:0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}






#home-wrap {
  height: 100vh;
  max-height: 900px;
  color: $white;
  font-family: $theme-font;
  font-weight: 600;
  background: url('../img/highSierra.png') no-repeat fixed center;
  background-size: cover;
  position: relative;
  .columns {
    padding-right: 0;
    padding-left: 0;
  }
}

.home-title {
  font-size: 2.2rem;
  line-height: 3.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

// Each section follows these styling rules (excluding first)
.section-wrap {
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px #000000 solid;
  h2 {
    margin: 0 auto;
    font-weight: 600;
    font-size: 2.4em;
  }
}


// Navigation Styling
.menu {
  text-align: center;
  z-index: 1;
}

.title-bar {
  background-color: #034d65;
  width: 100%;
  z-index: 1;
  .title-bar-title {
    font-size: 20px;
    font-family: $theme-font;
    margin-left: 3px;
    font-weight: 600;
  }
}


.top-bar-right ul {
  background-color: $theme-color;
  li {
    @include transEffect;
    &:hover {
      @include transEffect;
      background-color: $alt-theme-color;
    }
    a {
      color: $white;
    }
  }
}

#responsive-menu {
  background-color: transparent;
}




// Section 2 Styling - Services
#section-2-wrap {
  background-color: $white;
  color: $theme-color;
  h2 {
    margin-bottom: 20px;
  }
}

.service-icon {
  font-size: 4.5rem;
}

.service-title {
  font-size: 1.6rem;
}

.service-text {
  text-align: justify;
  line-height: 2;
  font-family: $theme-font;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 40px;
}



// Section 3 Styling - Team
#section-3-wrap {
  background-color: $theme-color;
  color: $white;
}

.team-wrap {
  text-align: center;
  margin-top: 35px;
  .team-title {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 20px;
  }
  img {
    border-radius: 100%;
    margin-bottom: 20px;
    opacity: 0.9;
  }
  .team-text {
    line-height: 1.6;
    text-align: justify;
    font-size: 1.1rem;
  }
}


// Section 4 Styling - Prices and Plans
#section-4-wrap {
  background-color: $white;
  color: $theme-color;
  .row {
    margin-bottom: 30px;
    h2 {
      margin-bottom: 25px;
    }
  }
}

.card {
  color: $theme-color;
  border-radius: 4px;
  margin-bottom: 40px;
  .card-section {
    padding-bottom: 25px;
    padding-top: 30px;
    .plan-title {
      font-size: 2.2rem;
    }
    .plan-price {
      font-size: 1.7rem;
    }
  }
  .card-divider {
    background-color: $theme-color;
    color: $white;
    display: inline-block;
    p {
      font-size: 1.4rem;
    }
  }
}








// Section 5 Styling - Contact
#section-5-wrap {
  background-color: $theme-color;
  color: $white;
  font-family: $theme-font;
}

#contact-details {
  margin-top: 40px;
  h3 {
    font-size: 26px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  p {
    font-size: 18px;
    margin-bottom: 30px;
  }
}

.contact-form {
  input {
    margin: 0 auto;
    border-radius: 2px;
    margin-top: 3px;
      @include transEffect;
    &:focus {
      background-color: $alt-theme-color;
      color: $white;
      @include transEffect;
    }
  }

  label {
    color: $white;
    font-size: 1.2rem;
    margin-top: 25px;
  }

  textarea {
    height: 150px;
    border-radius: 2px;
    margin-top: 5px;
    @include transEffect;
    &:focus {
      background-color: $alt-theme-color;
      color: $white;
      @include transEffect;
    }
  }

  .btn-wrap {
    text-align: center;
    .button {
      width: 120px;
      margin-top: 20px;
      margin-left: 10px;
      margin-right: 10px;
      font-size: 1rem;
      font-weight: 600;
      border-radius: 2px;
      background-color: $alt-theme-color;
      @include transEffect;
      &:hover {
        background-color: $white;
        color: $theme-color;
        font-weight: 700;
        @include transEffect;
      }
      .submit-icon {
        padding-left: 5px;
      }
      .reset-icon {
        padding-left: 5px;
      }
    }
  }

  .required-text {
    font-size: 1.1rem;
    text-align: left;
    &:before {
      content: '*';
      font-size: 1.3rem;
    }
  }
  #alert-fields {
    display: none;
  }
}


// Footer Styling

.footer-wrap {
  padding-bottom: 50px;
}

#social-media {
  padding-top: 10px;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      font-size: 2rem;
      a {
        color: $theme-color;
        @include transEffect;
        &:hover {
          @include transEffect;
          opacity: 0.7;
        }
      }
    }
  }
}

#privacy-footer {
  background-color: $white;
  color: $theme-color;
  font-size: 0.9rem;
  margin-top: 10px;
  font-weight: 600;
}




// Media Queries
@media screen and (min-width: 640px) {
  .home-title {
    font-size: 3rem;
    line-height: 5.5rem;
  }

  .top-bar {
    margin-top: 4rem;
  }
  .top-bar-right ul {
    background: transparent;
    font-size: 1.2rem;
    li {
      &:hover {
        background: none;
      }
      a {
        @include transEffect;
        &:hover {
          @include transEffect;
          color: $alt-theme-color;
        }
      }
    }
  }
  .menu .active > a {
    background-color: transparent;
    color: $active-color;
  }
}

@media screen and (min-width: 1024px) {

// Navigation Bar
  .top-bar-right ul {
    font-size: 1.4rem;
  }



// Section 2
  .service-icon {
    font-size: 10rem;
    display: block;
  }
  #section-2-wrap .row {
    margin-bottom: 50px;
  }



// Section 3
  .team-wrap {
    margin-bottom: 30px;
  }



// Section 4
  .card {
    @include transEffect;
    cursor: pointer;
    &:hover {
      transform: scale(1.05);
      @include transEffect;
    }
  }



// Section 5
  #contact-details {
    margin-top: 90px;
    h3 {
      font-size: 1.95rem;
    }
    p {
      font-size: 1.35rem;
      margin-bottom: 50px;
    }
  }

// Footer
  #privacy-footer {
    margin-top: 25px;
  }

}


@media screen and (max-height: 420px) {
  .home-title {
    font-size: 1.4rem;
    line-height: 2;
  }
}
