// Custom Styling Sheet


// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,800');


// Variables
$theme-color: #564474;
$alt-theme-color: #034d65;
$theme-font: 'Raleway', sans-serif;

#home-wrap {
  height: 100vh;
  max-height: 900px;
  color: $white;
  font-family: $theme-font;
  font-weight: 600;
  background: url('../img/highSierra.png') no-repeat fixed center;
  background-size: cover;
  position: relative;
    //background-color: $theme-color;
}

.home-title {
  font-size: 2.2rem;
  line-height: 3.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

// Each section follows these styling rules (excluding first)
.section-wrap {
  height: auto;
  padding-top: 30px;
  padding-bottom: 20px;
  border-bottom: 1px #000000 solid;
  h2 {
    margin: 0 auto;
    font-weight: 600;
    font-size: 2.4em;
  }
}


// Navigation Styling
.menu {
  text-align: center;
  z-index: 1;
}

.title-bar {
  background-color: #034d65;
  .title-bar-title {
    font-size: 20px;
    font-family: $theme-font;
    margin-left: 3px;
    font-weight: 600;
  }
}

#responsive-menu {
  background-color: transparent;
}




// Section 2 Styling
#section-2-wrap {
  background-color: $white;
  color: $alt-theme-color;
}



// Section 3 Styling
#section-3-wrap {
  background-color: $alt-theme-color;
  color: $white;
}


// Section 4 Styling
#section-4-wrap {
  background-color: $white;
  color: $alt-theme-color;
}



// Section 5 Styling
#section-5-wrap {
  background-color: $alt-theme-color;
  color: $white;
  font-family: $theme-font;
}

#contact-details {
  margin-top: 40px;
  h3 {
    font-size: 26px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  p {
    font-size: 18px;
    margin-bottom: 30px;
  }
}

.contact-form {
  input {
    margin: 0 auto;
    border-radius: 2px;
    margin-top: 3px;
  }
  label {
    color: $white;
    font-size: 1.2rem;
    margin-top: 25px;
  }
  textarea {
    height: 150px;
    border-radius: 2px;
    margin-top: 5px;
  }
  .btn-wrap {
    text-align: center;
    .button {
      width: 100px;
      margin-top: 20px;
      margin-left: 10px;
      margin-right: 10px;
      font-size: 1rem;
      font-weight: 600;
      border-radius: 2px;
    }
  }
}



// Footer Styling

#site-footer {
  background-color: $white;
  color: $alt-theme-color;
  padding-top: 15px;
  font-size: 0.8rem;
}
